fastapi
uvicorn
gunicorn
sqlalchemy
psycopg2-binary
python-dotenv
scikit-learn
passlib[bcrypt]==1.7.4
bcrypt==4.1.2
pydantic
PyJWT
python-jose[cryptography]
google-generativeai
google-api-python-client
google-auth